@font-face { 
    font-family: 'NEODGM'; 
    src: url('./NEODGM.ttf') format('truetype'); 
}

* { 
    box-sizing: border-box; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'NEODGM';
    background: #3b3b3b;
}

.hdti-bg {
    width: 370px;
    height: 650px;
    position: relative;
    background: url('../img/HDTI2.svg') center no-repeat;
    background-size: contain;
}

.charger-wrap{
    position: absolute;
    top: 16.5px;
    left: 23px;
    width: 88%;
    height: 22px;
  }
  
.charger {
    display: inline-block;
    width: 9.5px;
    height:16px;
    margin: 1px;
    background: #00ff4c;
}