@font-face { 
    font-family: 'NEODGM'; 
    src: url('./NEODGM.ttf') format('truetype'),
    url('./NEODGM.ttf') format('opentype'),
    url('./neodgm_pro.woff') format('woff'); 
}

* { 
    box-sizing: border-box; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'NEODGM';
    background: #3d3d3d;
}

.hdti-bg {
    width: 370px;
    height: 650px;
    position: relative;
    background: url('../img/HDTI2.svg') center no-repeat;
    background-size: contain;
}

.charger-wrap{
    position: absolute;
    top: 16.5px;
    left: 23px;
    width: 88%;
    height: 22px;
  }
  
.charger {
    display: inline-block;
    width: 9.5px;
    height:16px;
    margin: 1px;
    background: #00ff4c;
}

@media screen and (max-width: 370px) {
    .hdti-bg {
        width: 98vw;
    }
    .charger-wrap {
        position: absolute;
        top: 4.3%!important;
        left: 6% !important;
        width: 92% !important;
    }
    .charger {
        width: 9px !important;
        margin: 0 1px !important;
    }
}

@media screen and (max-width: 370px) and (max-height: 640px) {
    .hdti-bg {
        height: 98vh;
    }
    .hdti-tutorial {
        bottom: 9px !important;
    }
    .charger-wrap {
        top: 2.5%!important;
    }
}