.tutorial {
  position: absolute;
  width: 80%;
  height: 336px;
  background: rgba(255, 255, 255, 0.2);
  transform: translateX(12%) translateY(-86%);
}

.cube-wrap {
  position: relative;
  width: 80%;
  height: 375px;
  transform: translateX(12%) translateY(8.5%);
  overflow: hidden;
}

.hdti-tutorial{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 7px;
  position: absolute;
  bottom: 4px;
  color: #00ff4c;
  font-size: 10px;
}

.cube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cube__face {
  position: absolute;
  width:100%;
  height: 90px;
  padding: 20px 8px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.33);
  text-align: center;
  word-break: keep-all;
  line-height: 1.8;
  transition: 1s;
  background: rgba(255, 255, 255, 0.3);
}

.cube.is-backface-hidden .cube__face {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.haedal-talk {
  position: absolute;
  top: 324px;
  left: 110px;
  width: 160px;
  height: 100px;
  padding: 5px;
  border-radius: 4px;
  background: #ffffff;
  display: none;
}

.haedal-talk p {
  font-family: 'NEODGM';
  font-size: 14px;
  text-align: center;
  word-break: keep-all;
  line-height: 1.5;
}

.haedal-talk__bubble {
  position: absolute;
  bottom: -18px;
  left: 71px;
  width: 0px;
  height: 0px;
  border-top:15px solid none;
  border-bottom:20px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid  transparent;
  transform: rotate(180deg);
}

button:focus {
  outline: none;
}

.btns {
  position: absolute;
  top: 439px;
}

.answer-btn1{
  position: absolute;
  top: 7px;
  left: 29px;
  width: 60px;
  cursor: pointer;
}

.answer-btn1__text {
  position: absolute;
  top: 18px;
  left: 50px;
  color: #fff;
  font-size: 177%;
  cursor: pointer;
}

.answer-btn2 {
  position: absolute;
  top: 50px;
  left: 95px;
  width: 60px;
  cursor: pointer;
}

.answer-btn2__text {
  position: absolute;
  top: 62px;
  left: 116px;
  color: #fff;
  font-size: 177%;
  cursor: pointer;
}

.answer-btn3 {
  position: absolute;
  top: 50px;
  left: 216px;
  width: 60px;
  cursor: pointer;
}

.answer-btn3__text {
  position: absolute;
  top: 62px;
  left: 238px;
  color: #fff;
  font-size: 177%;
  cursor: pointer;
}

.answer-btn4 {
  position: absolute;
  top: 7px;
  left: 273px;
  width: 60px;
  cursor: pointer;
}

.answer-btn4__text {
  position: absolute;
  top: 18px;
  left: 294px;
  color: #fff;
  font-size: 177%;
  cursor: pointer;
}

.haedal-btn {
  position: absolute;
  top: 5px;
  left: 145px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.haedal-btn img {
  width: 72px;
}

@media screen and (max-width: 370px) {
  .cube-wrap {
    position: relative;
    width: 80%;
    height: 360px;
    transform: translateX(12%) translateY(8.5%);
    overflow: hidden;
  }
  
  .haedal-talk {
    top: 300px;
  }
  
  .haedal-talk__bubble {
    bottom: -18px;
  }
  
  .btns {
    top: 400px;
  }
}