.hdti-title {
    position: absolute;
    top: 136px;
    left: 80px;
    width: 200px;
}

.hdti-title__info {
    position: absolute;
    top: 115px;
    left: 110px;
    width: 140px;
}

.hdti-etc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-top: 190px;
    color: #fff;
}

.hdti-etc__comment {
    margin-top: 80px;
}

.hdti-click {
    position: absolute;
    top: 230px;
    left: 110px;
    width: 140px;
}

.hdti-red {
    margin: 0;
    margin-bottom: 8px;
    font-size: 23px;
    color: red;
}

.hdti-rights {
    margin: 0;
}

.hdti-joystick {
    position: absolute;
    top: 389px;
    left: 143.7px;
    width: 165.1px;
    cursor: pointer;
}

.info-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    margin-top: 130px;
    color: #fff;
}

.info-comment p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}