.result-title {
    position: absolute;
    top: 129px;
    left: 90px;
    color: #fff;
}

.result-all-wrap {
    width: 280px;
    height: 220px;
    color: #fff;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 12px;
    transform: translateX(17%) translateY(85%);
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.result-all-wrap::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.thumnail {
    width: 70px;
    height: 70px;
}

.types {
    font-size: 15px;
    cursor: pointer;
}

.explain {
    font-size: 10px;
}

.result-btns {
    position: absolute;
    top: 439px;
    width: 100%;
    padding: 10px 30px;
}

.result-btn {
    position: absolute;
    width: 53px;
    height: 53px;
    cursor: pointer;
}

.up-btn {
    top: 9px;
    left: 90px;
}

.right-btn {
    top: 50px;
    left: 143px;
}

.down-btn {
    top: 95px;
    left: 90px;
}

.left-btn {
    top: 50px;
    left: 38px;
}

.ok-btn {
    top: 32px;
    left: 273px;
}

.back-btn {
    top: 80px;
    left: 230px;
}