@font-face { 
    font-family: 'NEODGM'; 
    src: url('../static/NEODGM.ttf') format('truetype'); 
}

* { 
    box-sizing: border-box; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    font-family: 'NEODGM';
}

.hdti-bg {
    width: 370px;
    height: 650px;
    position: relative;
    background: url('../static/img/HDTI2.svg') center no-repeat;
    background-size: contain;
}