* { box-sizing: border-box; }

@font-face { 
  font-family: 'NEODGM'; 
  src: url('../static/NEODGM.ttf') format('truetype'); 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'NEODGM';
}

.scene {
  background: url('../static/img/HDTI2.svg') center no-repeat;
  background-size: contain;
  width: 370px;
  height: 650px;
  position: relative;
}

.cube-wrap {
  position: relative;
  width:80%;
  height: 356px;
  transform: translateX(12%) translateY(15.5%);
  overflow: hidden;
}

.cube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cube__face {
  position: absolute;
  width:100%;
  height: 90px;
  padding: 20px 8px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.33);
  text-align: center;
  word-break: keep-all;
  transition: 1s;
  background: rgba(255, 255, 255, 0.3);
}

.cube.is-backface-hidden .cube__face {
  backface-visibility: hidden;
}

.haedal-talk {
  position: absolute;
  top: 324px;
  left: 110px;
  width: 160px;
  height: 100px;
  border-radius: 4px;
  background: #ffffff;
  display: none;
}

.haedal-talk p {
  font-size: 14px;
}

.haedal-talk__bubble {
  position: absolute;
  bottom: -20px;
  left: 71px;
  width: 0px;
  height: 0px;
  border-top:15px solid none;
  border-bottom:20px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid  transparent;
  transform: rotate(180deg);
}

button:focus {
  outline: none;
}

.btns {
  position: absolute;
  top: 439px;
}

.answer-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.answer-btn img{
   width: 60px;
}

.answer-btn1{
  position: absolute;
  top: 7px;
  left: 29px;
  /* width: 60px; */
}

.answer-btn2 {
  position: absolute;
  top: 50px;
  left: 95px;
  /* width: 60px; */
}

.answer-btn3 {
  position: absolute;
  top: 50px;
  left: 216px;
  /* width: 60px; */
}

.answer-btn4 {
  position: absolute;
  top: 7px;
  left: 273px;
  /* width: 60px; */
}

.haedal-btn {
  position: absolute;
  top: 7px;
  left: 149px;
}

.haedal-btn img{
  width: 72px;
}