@font-face { 
    font-family: 'NEODGM'; 
    src: url('../static/NEODGM.ttf') format('truetype'); 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    font-family: 'NEODGM';
  }

.hdti-bg {
    width: 370px;
    height: 650px;
    position: relative;
    background: url('../static/img/HDTI2.svg') center no-repeat;
    background-size: contain;
}

.hdti-title {
    position: absolute;
    top: 136px;
    left: 80px;
    width: 200px;
}

.hdti-title__info {
    position: absolute;
    top: 99.7px;
    left: 110px;
    width: 140px;
}

.hdti-click {
    position: absolute;
    top: 230px;
    left: 110px;
    width: 140px;
}

.hdti-red {
    position: absolute;
    top: 284px;
    left: 150px;
    width: 59px;
}

.hdti-rights {
    position: absolute;
    top: 309px;
    left: 75px;
    width: 210px;
}

.hdti-joystick {
    position: absolute;
    top: 389px;
    left: 143.7px;
    width: 165.1px;
    cursor: pointer;
}

.info-comment {
    position: absolute;
    top: 185px;
    left: 70px;
    color: #fff;
    text-align: center;
}

.info-comment p {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
}

.info-time {
    position: absolute;
    top: 340px;
    left: 77px;
    color: #fff;
    font-size: 13px;
    text-align: center;
}