<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/loading.css">
    <link rel="stylesheet" href="../static/css/hdti.css">
    <link rel="stylesheet" href="../static/css/result2.css">
</head>
<body>
    <div class="hdti-bg">
        {% block content %}
        {% endblock %}
    </div>
    <script>
        {% block script %}
        {% endblock %}
    </script>
</body>
</html>