
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>해달 MBTI</title>
    <link rel="stylesheet" href="../static/loading.css">
</head>
<body>
    <div class="hdti-bg">
        <img class="hdti-title" src="../static/img/타이틀.svg" alt="title">
        <img class="hdti-click" src="../static/img/CLICK_JOYSTICK.gif" alt="click-joystick">
        <img class="hdti-joystick" src="../static/img/조이스틱.svg" alt="조이스틱">
    </div>
    
    <script>
        const joyStick = document.querySelector('.hdti-joystick');
        const clickComment = document.querySelector('.hdti-click');

        joyStick.addEventListener('click', function () {
            const infoComment = document.createElement('p');
            infoComment.innerText = '어쩌고저쩌고..'
            joyStick.src = '../static/img/조이스틱_눕힌거.svg'

            setTimeout(function() {
                clickComment.style.display = 'none';
                //infoComment 추가하기
            }, 1000);

        })
    </script>
</body>
</html>