{% extends 'base.html' %}

{% block title %} 해달 MBTI 결과 {% endblock %}

{% block content %}
    <div class="btns">
        <img id="1" class="answer-btn1" src="../static/img/btn1.svg" alt="버튼">
        <img id="2" class="answer-btn2" src="../static/img/btn2.svg" alt="버튼">
        <img id="3" class="answer-btn3" src="../static/img/btn3.svg" alt="버튼">
        <img id="4" class="answer-btn4" src="../static/img/btn4.svg" alt="버튼">
        <img id="haedalCharacter" class="haedal-btn" src="../static/img/btn_haedal.svg" alt="버튼"></button>
    </div>
{% endblock %}