{% extends 'base.html' %}

{% block title %} 해달 MBTI 결과 {% endblock %}

{% block content %}
    <div class="result-wrap">
        <div class="result">
            <img class="result__character" src={{ img }} alt="캐릭터">
            <p class="result__title">{{ type }}</p>
            <p class="result__content">{{ type_ex }}</p>
            <p class="result-detail__content">
                {{ explanation }}
            </p>
        </div>
        <div class="result-detail" style="display: none;">
            <p class="result-detail__title">이 사람은...</p>
            <p class="result-detail__content">
                {{ explanation }}
            </p>
        </div>
        <div class="result-option">
            <p>1. 자세히보기</p>
            <p>2. 전체보기</p>
            <p>3. 다시하기</p>
            <p>4. 공유하기</p>
        </div>
    </div>
    <div class="btns">
        <a href="../resultAll"><img id="1" class="answer-btn1" src="../static/img/btn1.svg" alt="버튼"></a>
        <a href="../types"><img id="2" class="answer-btn2" src="../static/img/btn2.svg" alt="버튼"></a>
        <a href="../hdti"><img id="3" class="answer-btn3" src="../static/img/btn3.svg" alt="버튼"></a>
        <a href="../share"><img id="4" class="answer-btn4" src="../static/img/btn4.svg" alt="버튼"></a>
        <img id="haedalCharacter" class="haedal-btn" src="../static/img/btn_haedal.svg" alt="버튼"></button>
    </div>
{% endblock %}