{% extends 'base.html' %}

{% block title %} 해달 MBTI 공유하기 {% endblock %}

{% block content %}
    <div class="share-btns">
        <img id="twitterBtn" class="share-btn up-btn" src="../static/img/트위터.svg" alt="버튼">
        <img id="facebookBtn" class="share-btn right-btn" src="../static/img/페이스북.svg" alt="버튼">
        <img id="urlBtn" class="share-btn down-btn" src="../static/img/url.svg" alt="버튼">
        <img id="kakaoBtn" class="share-btn left-btn" src="../static/img/카카오톡.svg" alt="버튼">
        <img id="okBtn" class="share-btn ok-btn" src="../static/img/OK.svg" alt="버튼">
        <img id="backBtn" class="share-btn back-btn" src="../static/img/왼쪽화살표_파랑.svg" alt="버튼">
    </div>
{% endblock %}