{% extends 'base.html' %}

{% block title %} 해달 MBTI 전체결과 {% endblock %}

{% block content %}
    <div class="charger-wrap">
    </div>
    <img class="hdti-title__info" src="../static/img/haedal_title.svg" alt="title">
    <p class="result-title">다른 개발자들의 유형은?</p>
    <form action="POST">
        <div class="result-all-wrap">
            {% for i in range (16) %}
            <div class="types" onclick="location.href='../result';">
                <div class="type">{{typeslist[i]}}</div>
                <div class="explain">{{explainlist[i]|safe}}</div>
            </div>
            {% endfor %}
        </div>
    </form>
    <div class="result-btns">
        <img id="upBtn" class="result-btn up-btn" src="../static/img/윗쪽화살표_빨강.svg" alt="버튼">
        <img id="rightBtn" class="result-btn right-btn" src="../static/img/오른쪽화살표_빨강.svg" alt="버튼">
        <img id="downBtn" class="result-btn down-btn" src="../static/img/아래쪽화살표_빨강.svg" alt="버튼">
        <img id="leftBtn" class="result-btn left-btn" src="../static/img/왼쪽화살표_빨강.svg" alt="버튼">
        <img id="okBtn" class="result-btn ok-btn" src="../static/img/OK.svg" alt="버튼">
        <a href="../result"><img id="backBtn" class="result-btn back-btn" src="../static/img/왼쪽화살표_파랑.svg" alt="버튼"></a>
    </div>
{% endblock %}

{% block script %}
    const chargerBox = document.querySelector('.charger-wrap');

    // 문항 수 표시
    for (let i=0; i<28; i++) {
        const charger = document.createElement('span');
        charger.classList.add('charger');
        chargerBox.appendChild(charger);
    }
{% endblock %}